.home-page {
  background-image: url("https://ilbolive.unipd.it/sites/default/files/2022-05/n_meteo.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  border-radius: 15px;
  height: 50%;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
